.label,
.value {
  padding: 8px 12px;
  text-align: center;
  border: 2px solid var(--color-grey);
  font-size: 14px;
}

.label {
  color: var(--font-grey);
  font-weight: normal;
  font-size: var;
}

.value {
  font-weight: 600;
}
