.cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--color-grey);
  margin: 0 -2px -2px 0;
  padding: 0 2px;
}

.label,
.value {
  padding: 4px 0;
  text-align: center;
}

.label {
  color: var(--font-grey);
}

.value {
  font-weight: 600;
}
