
/* 
when changing bottom border or line height please adjust DIVIDER_HEIGHT in main module !!! 
*/
.divider {
  border-bottom: 2px solid var(--color-grey); 
  font-weight: 700;
  margin: 24px 0;
  line-height: 24px;
}

@media (max-width: 720px) {
  .sticky-divider {
    position: sticky;
    background-color: white;
    z-index: 1;
  }
}

