.container {
  display: flex;
  position: relative;
  width: 100%;
}

.link {
  color: var(--color-dark-grey);
  padding-right: 24px;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 16px 0 0;
  display: inline-block;
}

.hide-map-link {
  display: none;
}

.icon {
  margin-right: 16px;
}

@media (max-width: 720px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .link span {
    font-size: 12px !important;
  }

  .hide-map-link {
    display: inline-block;
 
}

}