.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: white;
  height: 100%;
  width: 100%;
  overflow: scroll;
  overscroll-behavior: none;
}

.modal-content {
  display: flex;
  justify-content: center;
  padding: 4px;
  width: 100%;
}

.close-icon {
  cursor: pointer;
  position: fixed;
  top: 24px;
  right: 48px;
}

@media screen and (max-width: 1200px) {
  .close-icon {
    width: 48px;
    height: 48px;
    top: 1px;
    right: 1px;
  }

  .modal-header {
    padding-top: 8px;
    min-height: 24px;
  }
}
