.paragraph {
  text-indent: 16px;
  text-align: justify;
  line-height: 24px;
}

.title {
  color: var(--font-grey);
}

.links {
  font-size: 12px;
  margin: 0;
  font-weight: 400;
  color: var(--font-grey);
  display: inline-block;
  padding-right: 36px;
}

.link {
  color: var(--color-dark-grey);
  padding-right: 24px;
  font-size: 12px;
  font-weight: 700;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 720px) {
  .link span {
    font-size: 12px !important;
  }

  .paragraph {
    line-height: 20px;
  }
}
