.paragraph {
  text-indent: 16px;
  text-align: justify;
  line-height: 24px;
}

.title {
  color: var(--font-grey);
  font-size: 16px;
  letter-spacing: 0.5px;
}

.links {
  font-size: 12px;
  margin: 0;
  font-weight: 400;
  color: var(--font-grey);
  display: inline-block;
  padding-right: 36px;
}

.link {
  color: var(--color-dark-grey);
  padding-right: 24px;
  font-size: 12px;
  font-weight: 700;
}

.link:hover {
  text-decoration: underline;
}

.list-item {
  margin-bottom: 8px;
  padding-left: 8px;
}

.list {
  list-style-type: disc;
  padding-inline-start: 24px;
  text-align: justify;
  line-height: 20px;
}

@media (max-width: 720px) {
  .link span {
    font-size: 12px !important;
    padding-right: 12px;
  }

  .links {
    padding-right: 12px;
  }

  .paragraph {
    text-indent: 12px;
    line-height: 20px;
  }

  .title {
    font-size: 14px;
  }

  .list-item {
    font-size: 14px;
    /* margin-bottom: 4px; */
    padding-left: 0px;
  }

  .list {
    padding-inline-start: 12px;
  }
}
