.container {
  padding: 0 24px 24px;
}

.title {
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  color: var(--font-grey);
  letter-spacing: 16px;
  margin: 20px 0;
  /* changing vertical margin will affect scroll */
}

.post-card-list {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1260px) {
  .post-card-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 720px) {
  .post-card-list {
    grid-gap: 16px;
    grid-template-columns: 1fr;
  }

  .title {
    letter-spacing: 4px;
  }

  .container {
    height: auto;
  }
}
