.layout {
  max-width: 1200px;
  margin: auto;
  padding: 12px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 32px;
  margin: 48px;
  color: var(--font-grey);
}

@media (max-width: 720px) {
  .title {
    font-size: 20px;
    margin: 0 16px 16px;
  }
}
